In [35]:
import pandas as pd

In [36]:
base = pd.read_csv('census.csv')

In [37]:
base.head()

,age,workclass,final-weight,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [38]:
"Transformando variáveis categóricas (strings) em variáveis numéricas"

'Transformando variáveis categóricas (strings) em variáveis numéricas'

In [39]:
previsores = base.iloc[:, 0:14].values

In [40]:
previsores

array([[39, ' State-gov', 77516, ..., 0, 40, ' United-States'],
       [50, ' Self-emp-not-inc', 83311, ..., 0, 13, ' United-States'],
       [38, ' Private', 215646, ..., 0, 40, ' United-States'],
       ...,
       [58, ' Private', 151910, ..., 0, 40, ' United-States'],
       [22, ' Private', 201490, ..., 0, 20, ' United-States'],
       [52, ' Self-emp-inc', 287927, ..., 0, 40, ' United-States']],
      dtype=object)

In [41]:
classe = base.iloc[:, 14].values

In [42]:
classe

array([' <=50K', ' <=50K', ' <=50K', ..., ' <=50K', ' <=50K', ' >50K'],
      dtype=object)

In [43]:
from sklearn.preprocessing import LabelEncoder

In [44]:
labelenconder_previsores = LabelEncoder()

In [45]:
#labels = labelenconder_previsores.fit_transform(previsores[:, 1]) # vai fazer a substituição por valores numéricos

In [46]:
"Criando variáveis do tipo 'Dummy'"

'''
[Race]                  [White][Black][Asian-P-Isl][Amer-P-Ski]
|White| 0                   1     0         0            0
|Black| 1                   0     1         0            0
|Asian-P-Isl| 2   ===>      0     0         1            0 
|Amer-P-Ski| 3              0     0         0            1
|Black| 1                   0     1         0            0
|Black| 1                   0     1         0            0 
    '''

'\n[Race]                  [White][Black][Asian-P-Isl][Amer-P-Ski]\n|White| 0                   1     0         0            0\n|Black| 1                   0     1         0            0\n|Asian-P-Isl| 2   ===>      0     0         1            0 \n|Amer-P-Ski| 3              0     0         0            1\n|Black| 1                   0     1         0            0\n|Black| 1                   0     1         0            0 \n    '

In [47]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

In [48]:
onehotencoder = ColumnTransformer(transformers=[("OneHot", OneHotEncoder(), [1,3,5,6,7,8,9,13])],remainder='passthrough')

In [49]:
previsores = onehotencoder.fit_transform(previsores).toarray()

In [50]:
previsores

array([[0.0000e+00, 0.0000e+00, 0.0000e+00, ..., 2.1740e+03, 0.0000e+00,
        4.0000e+01],
       [0.0000e+00, 0.0000e+00, 0.0000e+00, ..., 0.0000e+00, 0.0000e+00,
        1.3000e+01],
       [0.0000e+00, 0.0000e+00, 0.0000e+00, ..., 0.0000e+00, 0.0000e+00,
        4.0000e+01],
       ...,
       [0.0000e+00, 0.0000e+00, 0.0000e+00, ..., 0.0000e+00, 0.0000e+00,
        4.0000e+01],
       [0.0000e+00, 0.0000e+00, 0.0000e+00, ..., 0.0000e+00, 0.0000e+00,
        2.0000e+01],
       [0.0000e+00, 0.0000e+00, 0.0000e+00, ..., 1.5024e+04, 0.0000e+00,
        4.0000e+01]])

In [51]:
labelencorder_classe = LabelEncoder()
classe = labelencorder_classe.fit_transform(classe)

In [52]:
classe.max()

1

In [53]:
classe.min()

0

In [54]:
classe # só possui 0 ou 1

array([0, 0, 0, ..., 0, 0, 1])

In [55]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
previsores = scaler.fit_transform(previsores)

In [56]:
previsores

array([[-0.2444502 , -0.17429511, -0.26209736, ...,  0.1484529 ,
        -0.21665953, -0.03542945],
       [-0.2444502 , -0.17429511, -0.26209736, ..., -0.14592048,
        -0.21665953, -2.22215312],
       [-0.2444502 , -0.17429511, -0.26209736, ..., -0.14592048,
        -0.21665953, -0.03542945],
       ...,
       [-0.2444502 , -0.17429511, -0.26209736, ..., -0.14592048,
        -0.21665953, -0.03542945],
       [-0.2444502 , -0.17429511, -0.26209736, ..., -0.14592048,
        -0.21665953, -1.65522476],
       [-0.2444502 , -0.17429511, -0.26209736, ...,  1.88842434,
        -0.21665953, -0.03542945]])

In [57]:
from sklearn.model_selection import train_test_split

In [58]:
previsores_treinamento, previsores_teste, classe_treinamento, classe_teste = train_test_split(previsores, classe, test_size=0.15, random_state=0)

In [59]:
previsores_treinamento

array([[-0.2444502 , -0.17429511, -0.26209736, ..., -0.14592048,
        -0.21665953, -0.03542945],
       [-0.2444502 , -0.17429511, -0.26209736, ..., -0.14592048,
        -0.21665953,  3.20416118],
       [-0.2444502 , -0.17429511,  3.81537614, ..., -0.14592048,
        -0.21665953, -0.03542945],
       ...,
       [-0.2444502 , -0.17429511, -0.26209736, ..., -0.14592048,
        -0.21665953, -0.03542945],
       [-0.2444502 , -0.17429511,  3.81537614, ...,  0.89508344,
        -0.21665953,  0.36951938],
       [-0.2444502 , -0.17429511, -0.26209736, ...,  0.20572978,
        -0.21665953,  0.61248868]])

In [60]:
previsores_teste

array([[-0.2444502 , -0.17429511, -0.26209736, ..., -0.14592048,
        -0.21665953,  0.28852962],
       [-0.2444502 , -0.17429511, -0.26209736, ..., -0.14592048,
        -0.21665953, -0.03542945],
       [-0.2444502 , -0.17429511, -0.26209736, ..., -0.14592048,
        -0.21665953, -0.03542945],
       ...,
       [-0.2444502 , -0.17429511, -0.26209736, ..., -0.14592048,
        -0.21665953, -1.97918382],
       [-0.2444502 , -0.17429511, -0.26209736, ..., -0.14592048,
        -0.21665953, -0.03542945],
       [-0.2444502 , -0.17429511, -0.26209736, ..., -0.14592048,
        -0.21665953, -0.03542945]])

In [61]:
classe_treinamento

array([0, 0, 0, ..., 0, 1, 0])

In [62]:
classe_teste

array([0, 0, 0, ..., 0, 0, 0])

In [73]:
len(classe_teste)

4885

In [75]:
classe_teste[0:100]

array([0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 1, 0,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0])