In [3]:
import pandas as pd

In [4]:
dicionario = {'A': [1, 2], 'B': [3, 4], 'C': [5, 6], 'D': [7, 8]}
df = pd.DataFrame(data=dicionario, index=['x', 'y'])

In [5]:
df

   A  B  C  D
x  1  3  5  7
y  2  4  6  8

In [6]:
df['A']

x    1
y    2
Name: A, dtype: int64

In [10]:
df.loc['x']

A    1
B    3
C    5
D    7
Name: x, dtype: int64

In [11]:
df.iloc[1]

A    2
B    4
C    6
D    8
Name: y, dtype: int64