# ***Aprendizagem Bayesiana***

In [18]:
import pandas as pd

In [19]:
base = pd.read_csv('risco_credito.csv')

In [20]:
base

        historia divida garantias     renda   c#risco
0           ruim   alta   nenhuma      0_15      alto
1   desconhecida   alta   nenhuma     15_35      alto
2   desconhecida  baixa   nenhuma     15_35  moderado
3   desconhecida  baixa   nenhuma  acima_35      alto
4   desconhecida  baixa   nenhuma  acima_35     baixo
5   desconhecida  baixa  adequada  acima_35     baixo
6           ruim  baixa   nenhuma      0_15      alto
7           ruim  baixa  adequada  acima_35  moderado
8            boa  baixa   nenhuma  acima_35     baixo
9            boa   alta  adequada  acima_35     baixo
10           boa   alta   nenhuma      0_15      alto
11           boa   alta   nenhuma     15_35  moderado
12           boa   alta   nenhuma  acima_35     baixo
13          ruim   alta   nenhuma     15_35      alto

In [21]:
base.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   historia   14 non-null     object
 1   divida     14 non-null     object
 2   garantias  14 non-null     object
 3   renda      14 non-null     object
 4   c#risco    14 non-null     object
dtypes: object(5)
memory usage: 688.0+ bytes

In [22]:
base.describe()

            historia divida garantias     renda c#risco
count             14     14        14        14      14
unique             3      2         2         3       3
top     desconhecida   alta   nenhuma  acima_35    alto
freq               5      7        11         7       6

In [23]:
base.isnull().sum()

historia     0
divida       0
garantias    0
renda        0
c#risco      0
dtype: int64

Não há nenhum valor faltante (nulo). Como podemos ver acima.

In [24]:
base.rename(columns={'c#risco':'risco'})

        historia divida garantias     renda     risco
0           ruim   alta   nenhuma      0_15      alto
1   desconhecida   alta   nenhuma     15_35      alto
2   desconhecida  baixa   nenhuma     15_35  moderado
3   desconhecida  baixa   nenhuma  acima_35      alto
4   desconhecida  baixa   nenhuma  acima_35     baixo
5   desconhecida  baixa  adequada  acima_35     baixo
6           ruim  baixa   nenhuma      0_15      alto
7           ruim  baixa  adequada  acima_35  moderado
8            boa  baixa   nenhuma  acima_35     baixo
9            boa   alta  adequada  acima_35     baixo
10           boa   alta   nenhuma      0_15      alto
11           boa   alta   nenhuma     15_35  moderado
12           boa   alta   nenhuma  acima_35     baixo
13          ruim   alta   nenhuma     15_35      alto

In [26]:
previsores = base.iloc[:, 0:4].values # criando a variável de previsores

In [54]:
classe = base.iloc[:, 4].values # criando a variável de previsores

In [55]:
from sklearn.naive_bayes import GaussianNB #importando o classificador do Naive Bayes

In [56]:
classificador = GaussianNB()

Perceba o erro de que não pode converter string para float. Isso se dá pelo motivo do Naive Bayes não aceitar variáveis categóricas.

## Convertendo as variáveis categóricas para variáveis discretas:

In [57]:
from sklearn.preprocessing import LabelEncoder

In [58]:
labelencoder = LabelEncoder()

In [59]:
previsores[:, 0] = labelencoder.fit_transform(previsores[:, 0])
previsores[:, 1] = labelencoder.fit_transform(previsores[:, 1])
previsores[:, 2] = labelencoder.fit_transform(previsores[:, 2])
previsores[:, 3] = labelencoder.fit_transform(previsores[:, 3])

In [60]:
previsores

array([[2, 0, 1, 0],
       [1, 0, 1, 1],
       [1, 1, 1, 1],
       [1, 1, 1, 2],
       [1, 1, 1, 2],
       [1, 1, 0, 2],
       [2, 1, 1, 0],
       [2, 1, 0, 2],
       [0, 1, 1, 2],
       [0, 0, 0, 2],
       [0, 0, 1, 0],
       [0, 0, 1, 1],
       [0, 0, 1, 2],
       [2, 0, 1, 1]], dtype=object)

In [61]:
classe

array(['alto', 'alto', 'moderado', 'alto', 'baixo', 'baixo', 'alto',
       'moderado', 'baixo', 'baixo', 'alto', 'moderado', 'baixo', 'alto'],
      dtype=object)

In [62]:
classificador.fit(previsores, classe)

GaussianNB()

In [63]:
resultado = classificador.predict([[0, 0, 1, 2]]) # boa, alta, nenhuma, acima de 35

In [64]:
resultado

array(['baixo'], dtype='<U8')

In [65]:
classificador.predict([[2, 1, 1, 0], [3, 0, 0, 0]])

array(['alto', 'moderado'], dtype='<U8')

In [66]:
print(classificador.classes_)

['alto' 'baixo' 'moderado']

In [67]:
print(classificador.class_count_)

[6. 5. 3.]

In [69]:
print(classificador.class_prior_) # probabilidades apriori

[0.42857143 0.35714286 0.21428571]

Probabilidade de ser alto: 0.43 // Probabilidade de ser baixo: 0.36 // Probabilidade de ser moderado: 0.21