In [50]:
import pandas as pd

'''O objetivo desse modelo é treinar uma base de dados para prever se o Pokémon é lendário (True) ou não (False)'''

'O objetivo desse modelo é treinar uma base de dados para prever se o Pokémon é lendário (True) ou não (False)'

In [51]:
pkmn = pd.read_csv('pokemon.csv')

In [52]:
pkmn.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [53]:
# Dividir entre X e Y
x = pkmn.drop(columns=['#', 'Name', 'Type 1', 'Type 2', 'Legendary', 'Generation'])
y = pkmn['Legendary']

In [54]:
from sklearn.model_selection import train_test_split

# Train test split
x_train, x_test, y_train, y_test = train_test_split(x.values, y.values)

In [55]:
from sklearn.ensemble import RandomForestClassifier as rf

# Criando o modelo
clf = rf(bootstrap=True) # clf = classifier
clf.fit(x_train, y_train)

RandomForestClassifier()

In [56]:
# Acessando os dados de teste
clf.score(x_test, y_test)

0.93

In [57]:
from sklearn.metrics import confusion_matrix

y_pred = clf.predict(x_test)
tn, fp, fn, tp = confusion_matrix(y_test, y_pred).ravel()
print('Sensibilidade:', tp/(tp+fn))
print('Especificidade:', tn/(fp+tn))

Sensibilidade: 0.65
Especificidade: 0.9611111111111111

In [58]:
from sklearn.model_selection import cross_val_score

# Cross Validation Score
# Criando modelo

clf2 = rf(bootstrap=True, max_depth=3)
cross_val_score(clf2, x, y, cv=10)

array([0.95  , 0.95  , 0.9375, 0.975 , 0.9375, 0.9125, 0.925 , 0.925 ,
       0.925 , 0.925 ])

In [59]:
from numpy import array

In [60]:
pkmn

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [61]:
clf.predict(array([[1200, 200, 200, 200, 200, 200, 200]]))

array([ True])

In [62]:
clf.predict(array([[1200, 30, 20, 40, 20, 65, 20]]))

array([False])

In [65]:
clf.predict(array([[600, 80, 110, 120, 130, 90, 70]])) # Volcation (Nº 799)

array([ True])

In [67]:
clf.predict(array([[309, 39, 52, 43, 60, 50, 65]])) # Charmander (Nº 4)

array([False])